<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-md-6 offset-3 mb-5">
        <h1>Edit Accommodation</h1>
        <form action="/accommodations/<%= place._id %>?_method=PATCH" method="POST" class="needs-validation" novalidate>
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="<%= place.title %>" required>
            <br>
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" id="location" value="<%= place.location %>" required>
            <br>
            <label for="description" class="form-label">Description</label>
            <br>
            <textarea name="description" class="form-control" id="description" cols="30" rows="10" required><%= place.description %></textarea>
            <br>
            <label for="image" class="form-label">Image</label>
            <input type="text" name="image" class="form-control" id="image" value="<%= place.image %>" required>
            <br>
            <div class="input-group">
                <span class="input-group-text" id="price">R</span>
                <input type="text" name="price" id="price" class="form-control" value="<%= place.price %>" required>
            </div>
            <br>
            <input type="submit" class="btn btn-success form-control">
        </form>
    </div>
</div>

